body {
  background-color: rgb(250, 215, 223);
  font-family: "Noto Serif JP", serif;
  color: rgb(12, 12, 12);
}

h1 {
  font-size: 1000%;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) { 
  h1 {
    font-size: 500%;
  }
}

img {
  opacity: 1;
}

figcaption {
  color: rgb(20, 20, 20);
}
